body, html {
    height: 100%;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.hero-image {
  background-image: url("../pictures/background.jpeg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: yellow;
  color: white;
}

a {
    color: green;
}

.signup {
    border: 1px grey;
}

.navbar {
  margin-bottom: 0px;
}

/** Other CSS **/
/* 
#consent_Checkbox {
  display:none;
}  */

/* #newMemberInformation {
  display: none;
  background: #ccc;
  width: 200px;
  height: 200px;
}

#consent_Checkbox:checked + #newmemberInformation {
  display:block;
} */

#send_My_Comments {
	cursor:pointer;
	width:100%;
	border:none;
	background:grey;
	color:#FFF;
	margin:0 0 5px;
	padding: 10px;
	border-radius:5px;
}

#send_My_Comments:hover {
    transition:border-color 0.3s ease-in-out;
	border:2px solid seagreen; 
    background-color: lightseagreen;
}

.main_Contact
{
   /*background: #000000 url("../pictures/background.jpeg");*/
   padding: 0%;
   margin: 0%;
}

.wrapper {
max-width:500px;
width:95%;
margin:0 auto;
position:relative;
}

/* RESET PASSWORD*/
.resetPass {
width: 100%;
max-width: 420px;
padding: 15px;
margin: auto;
}