.prod-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-bottom: 5%;
}

.prodBox {
    grid-column: span 2;
    grid-row: span 2;
    border: 1px solid black;
}

h1 {
    text-align: center;
}

.prodImg {
    max-height: 150px;
    display: block;
    margin: auto;
}

/* Input forms in admin */

.form-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 5%;
}
.g-form {
    display: grid;
    grid-column: 2 / 4;
    margin-top: 5%;
}

#last-id {
    grid-column: 2 / 4;
    margin: auto;
}

/* Table with css-grid */

.grid-table {
    grid-column: 2 / 4;
}

td, th {
    padding: 2%;
    text-align: center;

}